NEXT_PUBLIC_PORTAL_URL=http://localhost:3000
PLATFORM_API_BASE_URL=http://127.0.0.1:8000/v1
CONSENT_POLICY_GROWTH_PROFILE=beta-2026-07-10
CONSENT_POLICY_AGENT_MEMORY=beta-2026-07-10
AUTH_APP_ID=account
APP_ORIGIN=http://localhost:3001
OIDC_ISSUER=http://localhost:8080/realms/iweioo
OIDC_CLIENT_ID=iweioo-account
OIDC_CLIENT_SECRET=
BFF_REDIS_URL=
AUTH_SESSION_TTL_SECONDS=1800
AUTH_TRANSACTION_TTL_SECONDS=600
